:root {
   --color-black: #000000;
   --color-white: #ffffff;
   --color-gray: #F5FFFE;
   --color-dark: #101615;

   --gradient-100: linear-gradient(90.28deg, #BAFFF9 0.2%, #D5CEFF 50.7%, #94B5FF 102.28%);
   --gradient-40: linear-gradient(180deg, rgba(199, 177, 246, 0.4) 0%, rgba(183, 250, 244, 0.4) 100%);

}